<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>Your bookings</h1>

      <% current_user.stays.each do |stay| %>

        <%= render "traveller_request.html.erb", stay: stay %>

      <% end %>

      <h1>Manage your requests</h1>
      <% current_user.sites.each do |site| %>
        <% if site.stays.first %>
          <h3>Requests for <strong><%= site.title %></strong></h3>
        <% end %>
        <% site.stays.each do |stay| %>
          <%= render "owner_request.html.erb", stay: stay %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
