<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <h1>users#show</h1>

    <p><%= @user.first_name %></p>
    <p><%= @user.last_name %></p>
    <p><%= @user.description %></p>
    <p><%= @user.phone %></p>
  </div>
</div>

