<div class="footer text-center">
  <p>
    <a href="https://twitter.com/">
      <i class="fa fa-twitter fa-2x miam"></i>
    </a>
    _ghost places for human experiences_
    <a href="https://facebook.com/">
      <i class="fa fa-facebook fa-2x"></i>
    </a>
  </p>
</div>