
<h1>About us</h1>
<p>Founded in December 2014 and based in Paris,France Indus is a trusted community marketplace for people to list, discover, and book unique accommodations around the world — online or from a mobile phone.</p>
<%= link_to 'landing', landing_path %>