
<h1>About us</h1>
<p>Founded in December 2014 and based in Paris,France Indus is a trusted community marketplace for people to list, discover, and book unique accommodations around the world — online or from a mobile phone.</p>
<%= link_to 'landing', landing_path %>










<!DOCTYPE html>
<html xmlns:og="http://ogp.me/ns#" itemscope itemtype="http://schema.org/Product">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Fire bnb</title>

  <!-- Open graph FB -->
  <meta property="og:title" content="Fire bnb" />
  <meta property="og:description" content="Last minute airbnb deals - We search places with discounts so you don't have to " />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="http://www.firebnb.com" />
  <meta property="og:image" content="http://www.firebnb.com/img/fb_share.jpg" />
  <meta property="og:image:width" content="300" />
  <meta property="og:image:height" content="300" />

  <!-- Open graph Google plus -->
  <meta itemprop="name" content="Fire bnb">
  <meta itemprop="description" content="Last minute airbnb deals - We search places with discounts so you don&#39;t have to">
  <meta itemprop="image" content="http://www.firebnb.com/img/fb_share.jpg">


  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">

  <style style="display:none">body{
 font-family: 'Source Sans Pro', sans-serif;
}

.top {
  background: url(http://firebnb.com/img/fond4.png) no-repeat center fixed;
  -webkit-background-size: cover; /* pour Chrome et Safari */
  -moz-background-size: cover; /* pour Firefox */
  -o-background-size: cover; /* pour Opera */
  background-size: cover; /* version standardisée */

  }

.navbar-brand, .navbar-brand a {
  font-size:20px !important;
  color:black;
  position:fixed;

}

.navbar-brand span {
        background: white;
        padding: 5px;

}

.navbar-brand img {
/*  -ms-transform: rotate(133deg); /* IE 9 */
/*  -webkit-transform: rotate(133deg); /* Chrome, Safari, Opera */
/*  transform: rotate(133deg);
/*  -webkit-transition: all 1s; /* For Safari 3.1 to 6.0 */
/*  transition: all 1s; */
  margin-bottom: -12px;
    position: relative;
    top:0px;

}

.navbar-brand:hover img {
/*  -ms-transform: rotate(0deg); /* IE 9 */
/*  -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
/*  transform: rotate(0deg); */
/*  top:-20px; */
  }


.navbar-brand a:hover {
  color: black !important;
}


.navbar li {
  background: rgba(250, 250, 250, 0.7);
}

.navbar li a {
  color: darkgray !important;
  font-size: 20px !important;
}


.navbar li.on {
  background: rgba(250, 250, 250, 0.9) !important;
}

.navbar li.on a {
 cursor:default;
}


.navbar li a:hover {
  background: rgba(250, 250, 250, 0.9) !important;
}



.banner {
  padding-top: 20px;
  padding-bottom: 50px;
  width:80%;
  margin:auto;
  }


.banner h1 {
  font-weight: 900;
  font-size: 65px;
  /* background-color: rgba(0, 0, 0, 1);*/
  color:white;
  display: inline;
  margin-bottom: 20px;
  }


.airbnb {

  }


.discounts {
  font-weight: bold;
}

.banner p {
  font-weight: 340;
  font-size: 30px;
  /*background-color: rgba(0, 0, 0, 1);*/
  color:white;
  display: inline;

  }

.soon {
  padding-top: 80px;
  text-align: center;
  width:60%;
  margin:auto;
  }

.thankyou {
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
  width:100%;
  margin:auto;
  }
.cta {
  margin-top: 0px;
  background-color: rgba(255,255,255,.25);
  padding: 15px;
/*  padding-bottom: 20px;
*/  border-radius: 8px 8px 8px 8px;
display: inline-block;
margin-bottom: 100px
  }

.cta .form-group {
  margin-right: 30px
  }

.email {

  width:300px !important;
}

.fond {
  text-align: center;
/*  background-color: rgba(218,215,159,0.5);
*/  /* Pour choper la couleur en rgb : http://hex.colorrrs.com/*/
/*background-image:radial-gradient(rgba(0,0,0,0.5), rgba(255,255,255,0.1)); */
  background-image :radial-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5));
}


.fond img {
  width:5em;
  }

.cards {
  background: url(http://subtlepatterns.com/patterns/congruent_pentagon.png);
  background: #fff;
  border-top: 1px solid rgb(200,200,200);
  border-bottom: 1px solid rgb(200,200,200);

  }

.card {
  padding-bottom: 50px;
  padding-top: 50px;
  text-align: center;
  }

.card h3 {
  font-size: 30px;
  font-weight: 300;
  color: #565a5c;
}

.card p {
  font-size: 17px;
  font-weight: bold;
  color: #565a5c;
}

.card img {
  opacity: 0.7;
  width: 15%;
}


.footer {
  padding-top: 30px;
  padding-bottom: 30px;
  background: rgb(20,20,20);
  color:rgb(220,220,220);
  color:#6DA4A0;
  opacity: 0.8;
}
.footer a {
  color:rgb(220,220,220);
}

.footer .name {
  text-align: center}

.footer .name a {
  color:#FFFAF0;
}

.footer ul {
  list-style-type: none;
}

.footer img {

}

.miam {
  transition:all 3s;
  position: relative;
  right: 0px;
}

.miam:hover {
  transform: rotate(77deg);
  right: -8px;
}

#logo{
  width: 150px;
}

@media(max-width:767px){

.email {
width: 100% !important;
}


.soon {
  padding-top: 80px;
  text-align: center;
  width: 100%;
  }


.banner h1 {
  font-weight: 900;
  font-size: 35px;
  /* background-color: rgba(0, 0, 0, 1);*/
  display: inline;
  margin-bottom: 20px;
  }

.banner {
  padding-top: 150px;
  /* width: 70%; */
  margin: auto;
}

.email {
  margin:auto;
}

.banner p {
  font-weight: 330;
  font-size: 20px;
  /*background-color: rgba(0, 0, 0, 1);*/
  color:rgb(222,222,222);
  display: inline;

  }

.soon p {
  font-weight: 330;
  font-size: 20px;
  /*background-color: rgba(0, 0, 0, 1);*/
  color:rgb(222,222,222);
  display: inline;

  }
  .cta {
    margin-top: 50px;
    margin-bottom: 50px
    }


.navbar-brand, .navbar-brand a {
  font-size:20px !important;
  color:black;
  position:relative;

}



}
@media(min-width:768px){}
@media(min-width:992px){}
@media(min-width:1200px){}



</style>


  <style type="text/css" style="display:none">@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 300;
  src: local('Source Sans Pro Light'), local('SourceSansPro-Light'), url(http://fonts.gstatic.com/s/sourcesanspro/v9/toadOcfmlt9b38dHJxOBGNbE_oMaV8t2eFeISPpzbdE.woff) format('woff');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Source Sans Pro'), local('SourceSansPro-Regular'), url(http://fonts.gstatic.com/s/sourcesanspro/v9/ODelI1aHBYDBqgeIAH2zlBM0YzuT7MdOe03otPbuUS0.woff) format('woff');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 900;
  src: local('Source Sans Pro Black'), local('SourceSansPro-Black'), url(http://fonts.gstatic.com/s/sourcesanspro/v9/toadOcfmlt9b38dHJxOBGHiec-hVyr2k4iOzEQsW1iE.woff) format('woff');
}

</style>


  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- Leave those next 4 lines if you care about users using IE8 -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
      <![endif]-->


<!-- start Mixpanel --><script type="text/javascript">(function(f,b){if(!b.__SV){var a,e,i,g;window.mixpanel=b;b._i=[];b.init=function(a,e,d){function f(b,h){var a=h.split(".");2==a.length&&(b=b[a[0]],h=a[1]);b[h]=function(){b.push([h].concat(Array.prototype.slice.call(arguments,0)))}}var c=b;"undefined"!==typeof d?c=b[d]=[]:d="mixpanel";c.people=c.people||[];c.toString=function(b){var a="mixpanel";"mixpanel"!==d&&(a+="."+d);b||(a+=" (stub)");return a};c.people.toString=function(){return c.toString(1)+".people (stub)"};i="disable track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config people.set people.set_once people.increment people.append people.track_charge people.clear_charges people.delete_user".split(" ");
for(g=0;g<i.length;g++)f(c,i[g]);b._i.push([a,e,d])};b.__SV=1.2;a=f.createElement("script");a.type="text/javascript";a.async=!0;a.src="//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js";e=f.getElementsByTagName("script")[0];e.parentNode.insertBefore(a,e)}})(document,window.mixpanel||[]);
mixpanel.init("e6d25624757d5b589001c26556a69d49");</script><!-- end Mixpanel -->


  <!-- end Mixpanel -->

    </head>

    <body>
    <!--  tracking page load-->
    <script type="text/javascript">
    mixpanel.track("Landing page loaded");
    </script>



      <div class="top">
        <div class="fond">
          <nav class="navbar" role="navigation">
            <div class="container-fluid">
              <!-- Brand and toggle get grouped for better mobile display -->
              <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">
                  <img src="http://1.1.1.5/bmi/firebnb.com/img/logo.svg" id="logo"><br>
                  <!--  <span style="font-weight:100">Fire<span style="font-weight:800">bnb</span></span> -->
                </a>
              </div>

              <!-- Collect the nav links, forms, and other content for toggling -->
              <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                  <li class="on"><a href="#">EN</a></li>
                  <li><a href="index_fr.html">FR</a></li>
                </ul>
              </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
          </nav>
          <div class="banner">
            <h1>LAST MINUTE <span class="airbnb">AIRBNB</span> DEALS</h1> <br>
            <p>We identify the best <span class="discounts">discounts</span> available for your price</p>
            <div class ="soon">
              <p style="font-size:25px">Hold on tight. <span class="discounts">firebnb</span> will be ready soon.</p>
              <div class="cta">
                <form action="https://medium.us9.list-manage.com/subscribe/post?u=861e512fc5f52e28b42a80ada&amp;id=177b554955" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate form-inline" target="_blank" >
                  <div class="form-group">
                    <label class="sr-only" for="exampleInputEmail2">my.email@gmail.com</label>
                    <input type="email" class=" form-control input-lg email" id="mce-EMAIL" name="EMAIL" placeholder="Your email goes here" required >
                  </div>
                  <div style="position: absolute; left: -5000px;"><input type="text" name="b_861e512fc5f52e28b42a80ada_177b554955" tabindex="-1" value=""></div>
                  <button type="submit" id ="mc-embedded-subscribe" class="btn btn-danger btn-lg">Notify me !</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="cards">
        <div class="container">
          <div class="row">
            <div class="col-xs-12 col-sm-4">
              <div class="card">
                <img src="http://1.1.1.4/bmi/firebnb.com/img/icon_18588.svg" class="features">
                <h3>Unfair advantages</h3>
                <p>Get exclusive discounts up to 70 %</p>
              </div>
            </div>
            <div class="col-xs-12 col-sm-4">
              <div class="card">
                <img src="http://1.1.1.1/bmi/firebnb.com/img/icon_19923.svg" class="features">
                <h3>The best value for money</h3>
                <p>Easily sort places by discount rate</p>
              </div>
            </div>
            <div class="col-xs-12 col-sm-4">
              <div class="card">
                <img src="http://1.1.1.5/bmi/firebnb.com/img/icon_21209.svg" class="features">
                <h3>100% safe</h3>
                <p>Rent it as usual on airbnb</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="footer text-center">
        <p>
          <a href="https://twitter.com/firebnb">
            <i class="fa fa-twitter fa-2x miam"></i>
          </a>
          _done with love_
          <a href="https://facebook.com/firebnb">
            <i class="fa fa-facebook fa-2x"></i>
          </a>
        </p>
      </div>
    </div>
  </div>
  <!-- Including Bootstrap JS (with its jQuery dependency) so that dynamic components work -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

  <!-- begin olark code -->
  <script data-cfasync="false" type='text/javascript'>/*<![CDATA[*/window.olark||(function(c){var f=window,d=document,l=f.location.protocol=="https:"?"https:":"http:",z=c.name,r="load";var nt=function(){
  f[z]=function(){
  (a.s=a.s||[]).push(arguments)};var a=f[z]._={
  },q=c.methods.length;while(q--){(function(n){f[z][n]=function(){
  f[z]("call",n,arguments)}})(c.methods[q])}a.l=c.loader;a.i=nt;a.p={
  0:+new Date};a.P=function(u){
  a.p[u]=new Date-a.p[0]};function s(){
  a.P(r);f[z](r)}f.addEventListener?f.addEventListener(r,s,false):f.attachEvent("on"+r,s);var ld=function(){function p(hd){
  hd="head";return["<",hd,"></",hd,"><",i,' onl' + 'oad="var d=',g,";d.getElementsByTagName('head')[0].",j,"(d.",h,"('script')).",k,"='",l,"//",a.l,"'",'"',"></",i,">"].join("")}var i="body",m=d[i];if(!m){
  return setTimeout(ld,100)}a.P(1);var j="appendChild",h="createElement",k="src",n=d[h]("div"),v=n[j](d[h](z)),b=d[h]("iframe"),g="document",e="domain",o;n.style.display="none";m.insertBefore(n,m.firstChild).id=z;b.frameBorder="0";b.id=z+"-loader";if(/MSIE[ ]+6/.test(navigator.userAgent)){
  b.src="javascript:false"}b.allowTransparency="true";v[j](b);try{
  b.contentWindow[g].open()}catch(w){
  c[e]=d[e];o="javascript:var d="+g+".open();d.domain='"+d.domain+"';";b[k]=o+"void(0);"}try{
  var t=b.contentWindow[g];t.write(p());t.close()}catch(x){
  b[k]=o+'d.write("'+p().replace(/"/g,String.fromCharCode(92)+'"')+'");d.close();'}a.P(2)};ld()};nt()})({
  loader: "static.olark.com/jsclient/loader0.js",name:"olark",methods:["configure","extend","declare","identify"]});
  /* custom configuration goes here (www.olark.com/documentation) */
  olark.identify('2047-148-10-8026');/*]]>*/</script><noscript><a href="https://www.olark.com/site/2047-148-10-8026/contact" title="Contact us" target="_blank">Questions? Feedback?</a> powered by <a href="http://www.olark.com?welcome" title="Olark live chat software">Olark live chat software</a></noscript>
  <!-- end olark code -->

  <!--
  <script type="text/javascript">
    mixpanel.track_links("button", "Click notify me", {
      "referrer": document.referrer
    });
  </script>
-->
<script type="text/javascript">
    mixpanel.track_links("#niv a", "click nav link", {
        "referrer": document.referrer
    });
</script>

</body>
</html>



