      <div class="top">
        <div class="fond">
          <div class="banner">
            <h1>Rent spectacular factories<br>
             across the world</h1>
            <div class ="soon">
              <div class="cta">

                <form class="form-inline" role="form">
                  <input type="text" class="form-control search" placeholder="city" required >

                  <select class="form-control">
                      <option value="volvo">Nuke</option>
                      <option value="saab">Abandoned factory</option>
                      <option value="mercedes">Running factory</option>
                      <option value="audi">Carrier</option>
                  </select>

                  <b>€ 10</b> <input id="ex2" class="span2" value="" data-slider-min="10" data-slider-max="500" data-slider-step="5" data-slider-value="[250,450]"/> <b>€ 500</b>

                  <button type="submit" class="btn btn-default">Search</button>
                </form>


              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="cards">
        <div class="container">
          <div class="row">
            <div class="col-xs-12 col-sm-4">
              <div class="card">
                <img src="http://1.1.1.4/bmi/firebnb.com/img/icon_18588.svg" class="features">
                <h3>Unfair advantages</h3>
                <p>Get exclusive discounts up to 70 %</p>
              </div>
            </div>
            <div class="col-xs-12 col-sm-4">
              <div class="card">
                <img src="http://1.1.1.1/bmi/firebnb.com/img/icon_19923.svg" class="features">
                <h3>The best value for money</h3>
                <p>Easily sort places by discount rate</p>
              </div>
            </div>
            <div class="col-xs-12 col-sm-4">
              <div class="card">
                <img src="http://1.1.1.5/bmi/firebnb.com/img/icon_21209.svg" class="features">
                <h3>100% safe</h3>
                <p>Rent it as usual on airbnb</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="footer text-center">
        <p>
          <a href="https://twitter.com/firebnb">
            <i class="fa fa-twitter fa-2x miam"></i>
          </a>
          _done with love_
          <a href="https://facebook.com/firebnb">
            <i class="fa fa-facebook fa-2x"></i>
          </a>
        </p>
      </div>
    </div>
  </div>